<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>
  <connectionStrings>
    <add connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=D:\1303611014_ Zlatko_Petrov\Task1\Task1\Data\User.accdb;Persist Security Info=False;" name="myConnection" providerName="Microsoft.ACE.OLEDB.12.0" />
  </connectionStrings>
</configuration>
